.foodContainer{
    display: flex;
    align-items: center;
    }
ion-card span{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  ion-buttons{
    margin-left: 10px;
    color: red;
  
  }

  .excellent{
    background-color: rgb(5, 117, 5);
  }
  .bon {
    background-color: rgb(2, 183, 53);
  }
  .moyen {
    background-color: rgba(224, 209, 37, 0.721);
  }
  .mediocre {
    background-color: orange;
  }
  .mauvais {
    background-color: red;
  }

ion-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

svg, i {
    margin-right: 4px;
}
